# Tesis Prueba 3 Series de tiempo

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import os

In [2]:
ruta = './data/clean/'

In [32]:
df = pd.read_csv(ruta+'dataset_consumo_clima_pandemia.csv')

In [33]:
df

,tiempo,energia_activa,TempCelcius,HR,Lluviamm,Dirdelviento,Veldelviento_m/s,Velderafagas_m/s,pandemia
0,2017-01-01 00:00:00,827.4,25.881833,80.133333,0.0,203.100000,-888.880000,-888.880000,0
1,2017-01-01 01:00:00,814.8,25.748167,80.750000,0.0,188.816667,-888.880000,-888.880000,0
2,2017-01-01 02:00:00,798.0,25.800667,77.250000,0.0,156.300000,-888.880000,-888.880000,0
3,2017-01-01 03:00:00,802.2,25.715500,76.050000,0.0,157.950000,-888.880000,-888.880000,0
4,2017-01-01 04:00:00,793.8,25.525500,77.200000,0.0,202.616667,-888.880000,-888.880000,0
...,...,...,...,...,...,...,...,...,...
31278,2020-07-27 06:00:00,638.4,20.646333,93.816667,0.0,205.433333,0.250000,2.015000,1
31279,2020-07-27 07:00:00,709.8,21.151167,92.733333,0.0,205.233333,0.416667,2.351667,1
31280,2020-07-27 08:00:00,856.8,22.429667,89.766667,0.0,183.916667,0.883333,3.063333,1
31281,2020-07-27 09:00:00,978.6,23.336333,86.366667,0.0,173.833333,1.051667,3.146667,1
31282,2020-07-27 10:00:00,982.8,24.219000,85.200000,0.0,127.800000,0.500000,2.010000,1

In [37]:
df_total = df.loc[:,['tiempo','energia_activa', 'TempCelcius', 'HR', 'pandemia']]

In [38]:
df_total

                    tiempo  energia_activa  TempCelcius         HR  pandemia
0      2017-01-01 00:00:00           827.4    25.881833  80.133333         0
1      2017-01-01 01:00:00           814.8    25.748167  80.750000         0
2      2017-01-01 02:00:00           798.0    25.800667  77.250000         0
3      2017-01-01 03:00:00           802.2    25.715500  76.050000         0
4      2017-01-01 04:00:00           793.8    25.525500  77.200000         0
...                    ...             ...          ...        ...       ...
31278  2020-07-27 06:00:00           638.4    20.646333  93.816667         1
31279  2020-07-27 07:00:00           709.8    21.151167  92.733333         1
31280  2020-07-27 08:00:00           856.8    22.429667  89.766667         1
31281  2020-07-27 09:00:00           978.6    23.336333  86.366667         1
31282  2020-07-27 10:00:00           982.8    24.219000  85.200000         1

[31283 rows x 5 columns]

In [39]:
pd.options.mode.chained_assignment = None

In [40]:
pandemia = np.zeros((df.shape[0],1), dtype=int, order='C')

In [41]:
df_total['pandemia'] = pandemia

In [42]:
df_total.loc[:,'pandemia'][(df_total['tiempo'] >= '2020-03-17 00:00:00')& (df_total['tiempo'] <= '2022-03-19 00:00:00')] = 1

In [43]:
df_total.dtypes

tiempo             object
energia_activa    float64
TempCelcius       float64
HR                float64
pandemia            int32
dtype: object

In [44]:
df_total['tiempo'] = pd.to_datetime(df_total['tiempo'])

In [45]:
df_total

                   tiempo  energia_activa  TempCelcius         HR  pandemia
0     2017-01-01 00:00:00           827.4    25.881833  80.133333         0
1     2017-01-01 01:00:00           814.8    25.748167  80.750000         0
2     2017-01-01 02:00:00           798.0    25.800667  77.250000         0
3     2017-01-01 03:00:00           802.2    25.715500  76.050000         0
4     2017-01-01 04:00:00           793.8    25.525500  77.200000         0
...                   ...             ...          ...        ...       ...
31278 2020-07-27 06:00:00           638.4    20.646333  93.816667         1
31279 2020-07-27 07:00:00           709.8    21.151167  92.733333         1
31280 2020-07-27 08:00:00           856.8    22.429667  89.766667         1
31281 2020-07-27 09:00:00           978.6    23.336333  86.366667         1
31282 2020-07-27 10:00:00           982.8    24.219000  85.200000         1

[31283 rows x 5 columns]

In [46]:
df_total = df_total.set_index("tiempo")# create new columns from datetime index

In [47]:
#df_total["year"] = df_total.index.year
df_total["month"] = df_total.index.month# new dataframe
df_total["day"] = df_total.index.day# new day
df_total["weekday"] = df_total.index.weekday# weekday
df_total["hour"] = df_total.index.hour# new day

In [48]:
df_total.tail(10)

,energia_activa,TempCelcius,HR,pandemia,month,day,weekday,hour
tiempo,,,,,,,,
2020-07-27 01:00:00,684.6,20.396333,92.700000,1,7,27,0,1
2020-07-27 02:00:00,676.2,20.186167,93.700000,1,7,27,0,2
2020-07-27 03:00:00,676.2,19.983500,94.183333,1,7,27,0,3
2020-07-27 04:00:00,680.4,20.154167,94.300000,1,7,27,0,4
2020-07-27 05:00:00,672.0,20.436167,93.633333,1,7,27,0,5
2020-07-27 06:00:00,638.4,20.646333,93.816667,1,7,27,0,6
2020-07-27 07:00:00,709.8,21.151167,92.733333,1,7,27,0,7
2020-07-27 08:00:00,856.8,22.429667,89.766667,1,7,27,0,8
2020-07-27 09:00:00,978.6,23.336333,86.366667,1,7,27,0,9
2020-07-27 10:00:00,982.8,24.219000,85.200000,1,7,27,0,10

# One Hot Encode

def onehot_encode_pd(df, col_name):
    dummies = pd.get_dummies(df[col_name], prefix=col_name)
    return pd.concat([df, dummies], axis=1).drop(columns=[col_name])

df_total= onehot_encode_pd(df_total, 'year')

In [49]:
df_total.head()

,energia_activa,TempCelcius,HR,pandemia,month,day,weekday,hour
tiempo,,,,,,,,
2017-01-01 00:00:00,827.4,25.881833,80.133333,0,1,1,6,0
2017-01-01 01:00:00,814.8,25.748167,80.750000,0,1,1,6,1
2017-01-01 02:00:00,798.0,25.800667,77.250000,0,1,1,6,2
2017-01-01 03:00:00,802.2,25.715500,76.050000,0,1,1,6,3
2017-01-01 04:00:00,793.8,25.525500,77.200000,0,1,1,6,4

def onehot_encode_pd(df, col_name):
    dummies = pd.get_dummies(df[col_name], prefix=col_name)
    return pd.concat([df, dummies], axis=1).drop(columns=[col_name])

df_total= onehot_encode_pd(df_total, 'month')

In [50]:
df_total.head()

,energia_activa,TempCelcius,HR,pandemia,month,day,weekday,hour
tiempo,,,,,,,,
2017-01-01 00:00:00,827.4,25.881833,80.133333,0,1,1,6,0
2017-01-01 01:00:00,814.8,25.748167,80.750000,0,1,1,6,1
2017-01-01 02:00:00,798.0,25.800667,77.250000,0,1,1,6,2
2017-01-01 03:00:00,802.2,25.715500,76.050000,0,1,1,6,3
2017-01-01 04:00:00,793.8,25.525500,77.200000,0,1,1,6,4

def onehot_encode_pd(df, col_name):
    dummies = pd.get_dummies(df[col_name], prefix=col_name)
    return pd.concat([df, dummies], axis=1).drop(columns=[col_name])

df_total= onehot_encode_pd(df_total, 'day')

In [51]:
df_total.head()

,energia_activa,TempCelcius,HR,pandemia,month,day,weekday,hour
tiempo,,,,,,,,
2017-01-01 00:00:00,827.4,25.881833,80.133333,0,1,1,6,0
2017-01-01 01:00:00,814.8,25.748167,80.750000,0,1,1,6,1
2017-01-01 02:00:00,798.0,25.800667,77.250000,0,1,1,6,2
2017-01-01 03:00:00,802.2,25.715500,76.050000,0,1,1,6,3
2017-01-01 04:00:00,793.8,25.525500,77.200000,0,1,1,6,4

def onehot_encode_pd(df, col_name):
    dummies = pd.get_dummies(df[col_name], prefix=col_name)
    return pd.concat([df, dummies], axis=1).drop(columns=[col_name])

df_total= onehot_encode_pd(df_total, 'weekday')

In [52]:
df_total.head()

,energia_activa,TempCelcius,HR,pandemia,month,day,weekday,hour
tiempo,,,,,,,,
2017-01-01 00:00:00,827.4,25.881833,80.133333,0,1,1,6,0
2017-01-01 01:00:00,814.8,25.748167,80.750000,0,1,1,6,1
2017-01-01 02:00:00,798.0,25.800667,77.250000,0,1,1,6,2
2017-01-01 03:00:00,802.2,25.715500,76.050000,0,1,1,6,3
2017-01-01 04:00:00,793.8,25.525500,77.200000,0,1,1,6,4

# Datos Ciclicos

In [53]:
def generate_cyclical_features(df, col_name, period, start_num=0):
    kwargs = {
        f'sin_{col_name}' : lambda x: np.sin(2*np.pi*(df[col_name]-start_num)/period),
        f'cos_{col_name}' : lambda x: np.cos(2*np.pi*(df[col_name]-start_num)/period)    
             }
    return df.assign(**kwargs).drop(columns=[col_name])

df_total = generate_cyclical_features(df_total, 'hour', 24, 0)

In [54]:
df_total

,energia_activa,TempCelcius,HR,pandemia,month,day,weekday,sin_hour,cos_hour
tiempo,,,,,,,,,
2017-01-01 00:00:00,827.4,25.881833,80.133333,0,1,1,6,0.000000,1.000000e+00
2017-01-01 01:00:00,814.8,25.748167,80.750000,0,1,1,6,0.258819,9.659258e-01
2017-01-01 02:00:00,798.0,25.800667,77.250000,0,1,1,6,0.500000,8.660254e-01
2017-01-01 03:00:00,802.2,25.715500,76.050000,0,1,1,6,0.707107,7.071068e-01
2017-01-01 04:00:00,793.8,25.525500,77.200000,0,1,1,6,0.866025,5.000000e-01
...,...,...,...,...,...,...,...,...,...
2020-07-27 06:00:00,638.4,20.646333,93.816667,1,7,27,0,1.000000,6.123234e-17
2020-07-27 07:00:00,709.8,21.151167,92.733333,1,7,27,0,0.965926,-2.588190e-01
2020-07-27 08:00:00,856.8,22.429667,89.766667,1,7,27,0,0.866025,-5.000000e-01
2020-07-27 09:00:00,978.6,23.336333,86.366667,1,7,27,0,0.707107,-7.071068e-01
2020-07-27 10:00:00,982.8,24.219000,85.200000,1,7,27,0,0.500000,-8.660254e-01

In [55]:
df_total.to_csv(ruta+'dataset_consumo_clima_pandemia.csv',index=True)

df = pd.read_csv(ruta+'dataset_consumo_clima_pre_pand.csv', index_col = 'tiempo', parse_dates=True)